button {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: #F4E041;
  border-radius: 80px;
  border: none;
  padding: 4px 22px 4px 23px;
  &:hover {
    background: #FFE302;
    cursor: pointer;
  }

  &:disabled {
    color: #FFF;
    background: #B4B4B4;
    cursor: auto;
  }
}
