.userView {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 214px;
  background: #FFF;
  padding: 20px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  span {
    width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media(max-width: 1185px) {
      width: 242px;
    }
    @media(max-width: 1024px) {
      width: 304px;
    }
    @media(max-width: 750px) {
      width: 288px;
    }
    &:first-of-type {
      margin: 20px 0;
    }
  }
}