.get {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 791px 0 140px;
  @media(max-width: 1171px) {
    padding: 0 5.6%;
  }
  @media(max-width: 850px) {
    padding: 0 32px;
  }
  @media(max-width: 769px) {
    margin-top: 641px;
  }
  @media(max-width: 750px) {
    padding: 0 16px;
  }
  .usersContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1170px;
    column-gap: 29px;
    row-gap: 29px;
    margin: 50px 0;
    @media(max-width: 1171px) {
      width: 100%;
    }
    @media(max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 850px) {
      column-gap: 16px;
      row-gap: 16px;
    }
    @media(max-width: 750px) {
      display: flex;
      flex-direction: column;
      width: 288px;
      margin-bottom: 20px;
      align-items: center;
    }
  }

  button {
    margin-top: 30px;
    padding: 4px 19px 4px 20px;
  }
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-align: center;
}